header{
    color: #64a9df;
    text-align:center;
}
body{
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}
h1{
    text-align: center;
    color: #64a9df;
    margin-top: 130px;
}
h4{
    text-align: center;
    color: #64a9df;  
    padding-bottom: 20px;
    padding-top: 20px;
}
main{
    padding-right: 220px;
    padding-left: 220px;
    padding-top: 80px;
}
.row{
    margin-bottom: 40px;
}
