header {
    color: #64a9df;
    text-align: center;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    color: #64a9df;
}

h2 {
    text-align: center;
    color: #64a9df;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.2em;
}

.row {
    margin-bottom: 40px;
}

main {
    padding: 10% 20%;
}

@media (max-width:775px){
    body{
        font-size: 16px;
    }
    main{
        padding: 1%;
    }
    .row{
        padding: 0;
    }
}