h1{
   font-family:Barlow Semi Condensed;
}
h1{
    color:#664C4B
}
h5{
    font-family:Orbitron sans-serif
}
h6{
    background-color: #F8DCD1 ;
    padding: 40px ;
}
Body{
    background-color:#FAF7F3
    ;
}
h10{
    text-align: center;
}
p{
    line-height: 1.5;
}
h9{
    text-align: left;
}
