h1{
   font-family:Barlow Semi Condensed;
}
h1{
    color:#664C4B
}
h5{
    font-family:Orbitron sans-serif
}
h6{
    background-color: #F8DCD1 ;
    padding: 20px ;
}
Body{
    background-color:#FAF7F3
    ;
}